.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.minus {
  cursor: pointer;
}

i.icon.minus.circle:before {
  color: red;
}

.deleteButton {
  padding: 10px;
  /* cursor: pointer; */
}


.outOfStock {
  color: white;
  background-color: #282c34;
}

button>* {
  pointer-events: none;
}

.sortableColumnHeader-Current {
  color: green;
}

.productOutOFStock {
  color: red
}

.productSection {
  width: 80%;
  margin: 2rem auto;
  padding: 3rem;
  /* display: flex; */
  /* justify-content: center; */
  background-color: #a0afddab;
}

.ProductTableHeader-current {
  background-color: #0ff;
}

.ProductRow-out-of-stock {
  color: red;
}

.formWarpper {
  background-color: #00ff8fa8;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 4px 3px white;
}

.searchField {
  margin: 1rem;
}

.inStockField {
  margin: 1rem;
}